<div class="top-center">
    <a href="/menu" class="bento-focus-box" data-analyticsid="ToGoDelivery-module" data-analyticsvalue="Order Now" data-analyticsposition="Box1">
        <img class="bento-mobile" src="/images/default-source/images/homepage2020/bento-modules-mobile/sept82020/20200904-freedelivery-cn-mob.jpg" aria-label="Red Lobster To Go. 15% OFF*. Use code LOBSTER43 at checkout. ORDER NOW." />
        <img class="bento-desk" src="/images/default-source/images/homepage2020/bento-modules/sept82020/20200904-freedelivery-cn-desktop.jpg" aria-label="Red Lobster To Go. 15% OFF*. Use code LOBSTER43 at checkout. ORDER NOW." />
    </a>
    <p class="bento-legal">*Subject to full <a href="/terms-conditions#15p-coupon">Terms and Conditions</a></p>
</div>