<div class="top-r">
  <a href="https://www.redlobster.com/rewards" class="bento-focus-box" data-analyticsid="MRLR-module" data-analyticsvalue="Learn More" data-analyticsposition="Box2">
    <img class="bento-mobile" src="/images/default-source/images/homepage2020/bento-modules-mobile/mrlr-module.jpg?Status=Temp&sfvrsn=e335ddf0_4" aria-label="Free Rewards With My Red Lobster Rewards℠. Learn More"/>
    <img class="bento-desk" src="/images/default-source/images/homepage2020/bento-modules/3-column2.jpg?Status=Temp&sfvrsn=c435ddf0_4" aria-label="Free Rewards With My Red Lobster Rewards℠. Learn More"/>
  </a>
    <p class="bento-legal"></p>
</div>