<div class="sf_cols"><div class="row small-collapse" style="max-width: 1140px;" data-sf-element="Row">
    <div id="video" class="sf_colsIn seafood-standards__sourcing columns large-12 video-overlay-container js-scroll-to--video" data-sf-element="Column 1" data-placeholder-label="video-module"><div class="sf_cols"><div class="row" data-sf-element="Row">
      <div id="MainPlaceHolder_C056_Col00" class="sf_colsIn columns small-centered small-11 medium-8 large-6 video-overlay-content" data-sf-element="Column 1" data-placeholder-label="video-copy"><h2><span style="font-size:28px;">Find out what we mean when we say</span><br><span style="font-size:40px;">our seafood has standards</span></h2><button aria-label="Play Seafood with Standards Video" class="fa fa-play-circle-o play-icon"></button>
    </div>
</div>
</div><div class="sf_cols"><div class="row small-collapse" data-sf-element="Row">
    <div id="MainPlaceHolder_C096_Col00" class="sf_colsIn video-player-stage" data-sf-element="Column 1">
<video controls="controls" controlslist="nodownload" class="video-player"><source src="https://dc25fa3b90806dea35a3-c6624d51d7070fec85e79dd91d1b12f6.ssl.cf5.rackcdn.com/seafood-with-standards.mp4?sfvrsn=4" type="video/mp4"><track default="" kind="subtitles" label="English" src="/docs/default-source/text-audio-tracks/seafood-with-standards/swsvideo_us_cn.vtt?sfvrsn=7" srclang="en"></video>
    </div>
</div>
</div><div class="video-share" style="color:white;font-weight:bold;margin-bottom:10px;"><span style="margin:10px auto;display:block;">Share:</span>
 <a aria-label="Share Video on Facebook" class="facebook customer share" href="https://www.facebook.com/sharer.php?u=https://www.redlobster.com/our-story/seafood-with-standards/our-beliefs?utm_campaign=facebook-videoshare" style="margin-right:16px;" target="_blank">
 <span class="fa fa-facebook" style="font-size:32px;color:white;"></span><span class="show-for-sr">Opens in a new Window</span>
 </a>
 <a aria-label="Share Video on Twitter" class="twitter customer share" href="https://twitter.com/share?url=http://bit.ly/2nG1wJH&amp;text=Traceable.%20Sustainable.%20Responsible.%20These%20are%20more%20than%20just%20words%20on%20our%20menu%20%E2%80%93%20it%E2%80%99s%20how%20we%E2%80%99ve%20sourced%20our%20seafood%20since%20day%20one.%20Watch%20our%20video.%20%23SeafoodWithStandards" target="_blank">
 <span class="fa fa-twitter" style="font-size:32px;color:white;"></span><span class="show-for-sr">Opens in a new Window</span>
 </a>
 </div>
    </div>
</div>
</div>