/* bento structure wireframe */

.meta-container {
    width: 100%;
    box-sizing: border-box;
    min-height: 900px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    background-image: url(/images/default-source/images/homepage2020/shutterstock_736946548-2-min.jpg);
    padding: 34px 0 0 0;
    .max-container {
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        // border: 1px solid blue;
    }
    .top-r,
    .bottom-r,
    .top-c,
    .center-c,
    .bottom-c,
    .top-l,
    .bottom-l {
        position: relative;
        margin: 16px 0;
    }
    .bento-mobile,
    .bento-mobile {
        width: 100%;
    }
    .bento-mobile {
        visibility: visible;
        display: block;
    }
    .bento-desk {
        visibility: hidden;
        display: none;
    }
    .bento-legal {
        position: absolute;
        bottom: -10px;
        right: 10px;
        text-align: right;
    }
    .hp-block {
        padding: 0;
        position: relative;
        // border: 1px dotted purple;
        >* {
            border: 1px dotted red;
        }
        // .bento-top,
        // .bento-alert,
        // .bento-bottom {
        //     // background-color: rgba($color: red, $alpha: 0.95);
        //     height: 430px;
        // }
    }
    // top and bottom on mobile only
    @media screen and (min-width: 840px) {
        // create the padding additions
        .hp-block {
            // .bento-top {
            //     // height constistent
            // }
            // .bento-alert {
            //     height: 296px;
            // }
            // .bento-bottom {
            //     height: 480px;
            // }
        }
        .bento-mobile {
            visibility: hidden;
            display: none;
        }
        .bento-desk {
            visibility: visible;
            display: block;
        }
        // directional margins on desktop
        .top-r {
            margin: 0 0 16px 13px;
        }
        .bottom-r {
            margin: 16px 0 0 16px;
        }
        .top-c {
            margin: 0 0 16px 0;
        }
        .center-c {
            margin: 16px 0;
        }
        .bottom-c {
            margin: 16px 0 0 0;
        }
        .top-l {
            margin: 0 13px 16px 0;
        }
        .bottom-l {
            margin: 16px 13px 0 0;
        }
    }
}


/* bento structure wireframe */


/* bento modules */


/* bento modules */