.test {
    div {
        background-color: red;
        background-color: blue;
        background-color: red;
        background-color: blue;
        background-color: red;
        background-color: blue;
    }
}