/* bento structure wireframe */
.meta-container {
  width: 100%;
  box-sizing: border-box;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  background-image: url(/images/default-source/images/homepage2020/shutterstock_736946548-2-min.jpg);
  padding: 34px 0 0 0; }
  .meta-container .max-container {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; }
  .meta-container .top-r,
  .meta-container .bottom-r,
  .meta-container .top-c,
  .meta-container .center-c,
  .meta-container .bottom-c,
  .meta-container .top-l,
  .meta-container .bottom-l {
    position: relative;
    margin: 16px 0; }
  .meta-container .bento-mobile,
  .meta-container .bento-mobile {
    width: 100%; }
  .meta-container .bento-mobile {
    visibility: visible;
    display: block; }
  .meta-container .bento-desk {
    visibility: hidden;
    display: none; }
  .meta-container .bento-legal {
    position: absolute;
    bottom: -10px;
    right: 10px;
    text-align: right; }
  .meta-container .hp-block {
    padding: 0;
    position: relative; }
    .meta-container .hp-block > * {
      border: 1px dotted red; }
  @media screen and (min-width: 840px) {
    .meta-container .bento-mobile {
      visibility: hidden;
      display: none; }
    .meta-container .bento-desk {
      visibility: visible;
      display: block; }
    .meta-container .top-r {
      margin: 0 0 16px 13px; }
    .meta-container .bottom-r {
      margin: 16px 0 0 16px; }
    .meta-container .top-c {
      margin: 0 0 16px 0; }
    .meta-container .center-c {
      margin: 16px 0; }
    .meta-container .bottom-c {
      margin: 16px 0 0 0; }
    .meta-container .top-l {
      margin: 0 13px 16px 0; }
    .meta-container .bottom-l {
      margin: 16px 13px 0 0; } }

/* bento structure wireframe */
/* bento modules */
/* bento modules */
