/* bento structure wireframe */
.meta-container {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(/images/default-source/images/homepage2020/shutterstock_736946548-2-min.jpg);
  padding: 34px 0 0 0; }
  .meta-container .max-container {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; }
  .meta-container .top-r,
  .meta-container .bottom-r,
  .meta-container .top-c,
  .meta-container .center-c,
  .meta-container .bottom-c,
  .meta-container .top-l,
  .meta-container .bottom-l {
    position: relative;
    margin: 16px 0; }
  .meta-container .bento-mobile,
  .meta-container .bento-mobile {
    width: 100%; }
  .meta-container .bento-mobile {
    visibility: visible;
    display: block; }
  .meta-container .bento-desk {
    visibility: hidden;
    display: none; }
  .meta-container .bento-legal {
position: absolute;
    bottom: -10px;
    right: 10px;
    text-align: right;
    color: white;
    text-shadow: -1px 1px 3px #000;
    font-size: 12px;}
  .meta-container .bento-legal-black {
position: absolute;
    bottom: -10px;
    right: 10px;
    text-align: right;
    color: black;
        font-size: 11px;
    line-height: 9px;}
.bento-legal a{
color: white !important;
  text-transform: unset;
  text-decoration: underline;
}
.bento-legal a:hover{
color: #d9d9d9 !important;}
.bento-legal-black a{
color: black !important;
  text-transform: unset;
  text-decoration: underline;
}
.bento-legal-black a:hover{
color: #555 !important;}
.bento-focus-box{
  position: relative;
  display: block;
  outline-offset: -3px;
  width: 100%;
  height: 100%;

}
 .marginBentoBottom{
  margin-bottom: 16px;}
.marginBentoTop{
  margin-top: 16px;}
  .meta-container .hp-block {
    padding: 0;
    position: relative; }
    .meta-container .hp-block > * {
       }
  @media screen and (min-width: 840px) {
    .meta-container .bento-mobile {
      visibility: hidden;
      display: none; }
    .meta-container .bento-desk {
      visibility: visible;
      display: block; }
    .meta-container .top-r {
      margin: 0 0 16px 13px; }
    .meta-container .bottom-r {
      margin: 16px 0 0 16px; }
    .meta-container .top-c {
      margin: 0 0 16px 0; }
    .meta-container .center-c {
      margin: 16px 0; }
    .meta-container .bottom-c {
      margin: 16px 0 0 0; }
    .meta-container .top-l {
      margin: 0 13px 16px 0; }
    .meta-container .bottom-l {
      margin: 16px 13px 0 0; } 
    .resizeBentos .large-8 {
      width: 62.666667%;}
    .resizeBentos .large-4 {
      width: 36.86%;}
    .halfBento{
      width: 48.56% !important;}  
   
    }

@media screen and (max-width: 840px) {
  .marginMobileBentoTop{
  margin-top:16px;}
  .marginMobileBentoBottom{
  margin-top:16px;}
}
   

/* bento structure wireframe */
/* bento modules */
/* bento modules */
