.seafood-standards__story
{
    background-color: #22273b;
    background-image: url('/images/default-source/images/seafood-with-standards/2018/bg-slate.jpg?Status=Temp&sfvrsn=2');
}
.seafood-standards__sourcing
{
    background-color: #110b07;
    background-image: url('/images/default-source/images/seafood-with-standards/2018/bg-video-seafood-with-standards-min.jpg?Status=Temp&sfvrsn=2');
    background-position: left;
}
.inspectedSeafoodLogo
{
    display: block;
    margin: 0 auto;
    width: 165px !important;
    margin-top: 45px !important;
    margin-bottom: -15px !important;
}
.seafood-standards__commitment 
{
    padding-bottom: 15vw !important;
}